* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  background-color: #dedede; }

nav {
  background-color: #333333;
  height: 60px; }
  nav img {
    padding-left: 40px;
    padding-top: 5px; }
  nav ul {
    float: right; }
    nav ul li {
      display: inline-block;
      width: 75px; }
      nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 10px; }
      nav ul li a.click {
        color: #6f706b; }

.FirstArticle {
  background-color: white;
  margin: 20px;
  padding: 40px 20px;
  border: solid #cdcdcd 1px;
  box-shadow: 1px 1px grey; }
  .FirstArticle h4 {
    color: #5c6660; }
  .FirstArticle p {
    text-indent: 2em;
    line-height: 1.5em; }
  .FirstArticle p:first-of-type {
    text-indent: 0em;
    color: #5c6660;
    font-size: 12px; }

.SecondArticle {
  background-color: white;
  margin: 20px;
  padding: 40px 20px;
  border: solid #cdcdcd 1px;
  box-shadow: 1px 1px grey; }
  .SecondArticle h4 {
    color: #5c6660; }
  .SecondArticle p {
    text-indent: 2em;
    line-height: 1.5em; }
  .SecondArticle p:first-of-type {
    text-indent: 0em;
    color: #5c6660;
    font-size: 12px; }
  .SecondArticle ul {
    list-style-type: none; }

.imageShow {
  background-color: white;
  margin: 20px;
  padding: 40px 20px;
  border: solid #cdcdcd 1px;
  box-shadow: 1px 1px grey; }
  .imageShow dd {
    border: solid 1px #dedede;
    width: 123px;
    height: 125px;
    text-align: center;
    padding: 10px; }
    .imageShow dd img {
      width: 100px;
      height: 82px;
      padding-top: 20px; }

.ThirdArticle {
  background-color: white;
  margin: 20px;
  padding: 40px 20px;
  border: solid #cdcdcd 1px;
  box-shadow: 1px 1px grey; }
  .ThirdArticle h4 {
    color: #5c6660; }
  .ThirdArticle p {
    text-indent: 2em;
    line-height: 1.5em; }
  .ThirdArticle p:first-of-type {
    text-indent: 0em;
    color: #5c6660;
    font-size: 12px; }
  .ThirdArticle ol {
    font-weight: bold; }
  .ThirdArticle table {
    width: 100%; }
  .ThirdArticle table, .ThirdArticle th, .ThirdArticle td {
    border: solid 1px black;
    border-collapse: collapse; }
  .ThirdArticle thead {
    background-color: black;
    color: white; }
  .ThirdArticle tfoot {
    background-color: #dedede; }

.BaseInfo {
  background-color: white;
  margin: 20px;
  padding: 40px 20px;
  border: solid #cdcdcd 1px;
  box-shadow: 1px 1px grey; }
  .BaseInfo h2 {
    border-left: solid 5px #dedede;
    padding-left: 10px; }
  .BaseInfo form {
    vertical-align: top; }
    .BaseInfo form label {
      float: left;
      border: solid 1px red;
      text-align: right;
      padding-right: 1em;
      width: 370px; }
    .BaseInfo form p {
      padding-left: 370px; }
    .BaseInfo form textarea {
      width: 766px;
      height: 100px; }
    .BaseInfo form input[type="submit"] {
      width: 100%;
      color: white;
      background-color: blue;
      border-radius: 10px;
      line-height: 30px; }

footer {
  display: fixed;
  bottom: 0px;
  height: 70px;
  background-color: black;
  text-align: center;
  padding-top: 23px;
  color: white; }
