$LightGray:#dedede;
$TitleColor:#5c6660;

@mixin articleStyle{
	background-color: white; 
	margin: 20px;
	padding: 20px;
	border: solid #cdcdcd 1px;
	box-shadow: 1px 1px grey;
}

* {
	box-sizing:border-box;
	margin: 0px;
	padding: 0px;
}

body{
	background-color: $LightGray;
}

header {
	background-color: #333;
	height: 60px;
	width: 100%;

	img{
		//指定图像大小让浏览器知道这个图片多大 在加载的时候预留空间
		padding-left: 20px;
		padding-top: 5px;
	}

	nav{
		float: right;
		margin-top: 20px;
		li {
			display: inline-block;
			margin-right: 10px;
			a {
 				color:white;
 				text-decoration: none;
			}

			a.click {
				color: #6f706b;
			}
		}
	}
}

.FirstArticle{
	@include articleStyle;
	margin-right: 20px + 364px + 20px;
	h2{
		padding:5px 0px;
	}

	h4{
		color:$TitleColor;
		padding: 10px 0px;
	}

	p {
		text-indent: 2em;
		line-height: 1.5em;
	}

	span {
		text-indent: 0em;
		color:$TitleColor;
		font-size: 12px;
	}
}

.SecondArticle{
	@include articleStyle;
	margin-right: 20px + 364px + 20px;
	h2{
		padding:5px 0px;
	}

	h4{
		color:$TitleColor;
		padding: 10px 0px;
	}

	p {
		text-indent: 2em;
		line-height: 1.5em;
	}

	span {
		text-indent: 0em;
		color:$TitleColor;
		font-size: 12px;
	}

	ul {
		list-style-type: none;;
	}
}

.ImageShow{
	@include articleStyle;
	margin-right: 20px + 364px + 20px;
	dd {
		float: left;
		border: solid 1px $LightGray;
		margin: 10px 0px;
		width: 123px;
		height: 125px;
		text-align: center;
		padding: 10px;
		img {
			width: 100px;
			height: 82px;
			padding-top: 20px;
		} 
	}

	dl:after{
		display: block;
		content: "";
		clear: both;
	}
}

.ThirdArticle{
	@include articleStyle;
	margin-right: 20px + 364px + 20px;
	h2{
		padding:5px 0px;
	}

	h4{
		color:$TitleColor;
		padding: 10px 0px;
	}

	span {
		text-indent: 0em;
		color:$TitleColor;
		font-size: 12px;
	}

	ol{
		font-weight: bold;
		list-style-position: inside;
	}

	//table
	table {
		width: 100%;
	}

	table,th,td {
		border: solid 1px black;
		border-collapse: collapse;
	}

	thead {
		background-color: black;
		color: white;
	}

	tfoot {
		background-color: $LightGray;
	}
}

aside{
	@include articleStyle;
	float: right;
	width: 364px;
	h4{
		border-left: solid 5px $LightGray;
		padding-left: 10px;
	}


	form {
		div {
			font-size: 14px;
			margin: 15px 0px;
		}

		label.Tip {
			float:left;
			text-align: right;
			padding-right: 1em;
			width: 130px;

		}

		textarea {
			width:50%;
    		height:100px;
		}

		p{
			font-size: 10px;
			padding-left: 130px;
			margin: 10px 0px;
			color: $TitleColor;
		}


		input[type="submit"]{
			width: 100%;
			color: white;
			background-color: blue;
			border-radius: 10px;
			line-height: 30px;
		}
	}
}

footer {
	display: fixed;
	bottom: 0px;
	height: 50px;
	background-color: black;
	text-align: center;
	padding-top: 15px;
	color: white;
}